Source: mailman-suite
Section: web
Priority: optional
Maintainer: Debian Mailman Team <pkg-mailman-hackers@lists.alioth.debian.org>
Uploaders: Pierre-Elliott Bécue <becue@crans.org>,
           Jonas Meurer <jonas@freesources.org>
Build-Depends: debhelper (>= 10), po-debconf
Standards-Version: 4.1.2
Homepage: https://gitlab.com/mailman/mailman-suite
Vcs-Browser: https://anonscm.debian.org/git/pkg-mailman/mailman-suite.git/
Vcs-Git: https://anonscm.debian.org/cgit/pkg-mailman/mailman-suite.git/

Package: mailman3-suite
Architecture: all
Depends: dbconfig-pgsql | dbconfig-no-thanks,
         lsb-base,
         mailman3-core,
         node-less,
         python (<< 2.8),
         python-django-hyperkitty,
         python-django-postorius,
         python-psycopg2,
         python-whoosh,
         ruby-sass,
         ucf,
         uwsgi,
         uwsgi-plugin-python,
         ${misc:Depends}
Recommends: libapache2-mod-proxy-uwsgi | nginx, postgresql
Description: Django project integrating Mailman3 Postorius and HyperKitty
 This django web application provides the Mailman3 Postorius web interface
 and the HyperKitty mailinglist archiver integrated into one project.
 .
 The package automates most of the necessary configuration for the Django
 project (PostgreSQL database, webserver configuration, secret and API key
 generation, Django project configuration) to get a ready-to-use Mailman3
 suite.
 .
 The Mailman3 Django project runs as uWSGI daemon and the webserver is
 configured as reverse proxy. It can be accessed at '/mailman3'.

Package: mailman3
Architecture: all
Depends: mailman3-core,
         mailman3-suite,
         python-django-hyperkitty,
         python-django-postorius,
         python-mailmanclient,
         python3-mailman-hyperkitty,
         ${misc:Depends}
Description: Full Mailman3 mailing list management suite (metapackage)
 This is GNU Mailman, a mailing list management system. This metapackage
 depends on all components of the full Mailman3 suite:
 .
  * mailman3-core: The core delivery engine
  * python-mailmanclient: Python bindings for the Mailman3 REST API
  * python-django-postorius: The Mailman3 web interface
  * python-django-hyperkitty: The Mailman3 mailinglist web archiver
  * mailman3-suite: Combines postorius and hyperkitty into one web app
