[Unit]
Description=Mailman3-web uWSGI service
After=network.target
Documentation=file:///usr/share/doc/mailman3-web/README.rst

[Service]
ExecStart=/usr/bin/uwsgi --ini /etc/mailman3/uwsgi.ini
Restart=on-failure
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all
User=root
Group=root

[Install]
WantedBy=multi-user.target
